h1{
    color: rgb(78, 46, 109);
    text-align: center;
    margin-bottom: 40px;
}
.add-product{
    text-align: center;
}
.form-button{
    background-color: rgb(73, 34, 109);
    color: white;
}
.form-button1{
    background-color: rgb(73, 34, 109);
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 122px;
    padding-right: 122px;
    padding-top: 4px;
    padding-bottom: 4px;
}