<div class="add-product">
    <h1>Add new product</h1>
    <p class="message-p">{{productMsg}}</p>
    <form #addProduct="ngForm" class="common-form" (ngSubmit)="submit(addProduct.value)">
        <input type="text" class="form-input" placeholder="Enter product name (required)" name="name" #name="ngModel" ngModel
            required>
        <p class="invalid-input"><span *ngIf="name.invalid && name.touched">This field is required</span></p>


        <input type="text" class="form-input" placeholder="Enter product heading" name="heading" #heading="ngModel"
            ngModel>

        <input type="text" class="form-input" placeholder="Enter product subheading" name="subheading"
            #subheading="ngModel" ngModel>

        <input type="number" class="form-input" placeholder="Enter product stock (required)" name="stock" #stock="ngModel" ngModel
            required>
        <p class="invalid-input"><span *ngIf="stock.invalid && stock.touched">This field is required</span></p>


        <input type="text" class="form-input" placeholder="Enter product tags" name="tags" #tags="ngModel" ngModel maxlength="25">

        <input type="text" onfocus="(this.type='date')" class="form-input" placeholder="Enter product expiry (required)" name="expiry" #expiry="ngModel" ngModel
            required>
        <p class="invalid-input"><span *ngIf="expiry.invalid && expiry.touched">This field is required</span></p>


        <textarea type="text" class="form-input" placeholder="Enter product description" name="description"
            #description="ngModel" ngModel></textarea>
        <button class="form-button" [disabled]="addProduct.invalid">Add Product</button>

    </form>
    <button class="form-button1" (click)="cancel()">Cancel</button>
</div>