body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgb(190, 166, 213);

}

body::before {
    border: 10px solid yellow;
  }

.container{
    margin-left: 5%;
    margin-right: 5%;
}

.common-form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

.form-input{
    height: 35px;
    margin-bottom: 20px;
    border: 1px solid rgb(127, 146, 255);
    padding-left: 15px;
    color: blueviolet;
}

.form-button{
    height: 35px;
    border: 1px solid rgb(127, 146, 255);
    color: blueviolet;
    cursor: pointer;
}

.error-p{
    color: rgb(148, 37, 37);
}
.message-p{
    color: green;
    text-align: center;
}
.carousel-caption{
    background-color: #00000082;
    border-radius: 5px;

}
.carousel-control-next-icon, .carousel-control-prev-icon
{
    background-color: black;
    border: 5px;
}
.invalid-input{
    color: rgb(160, 2, 2);
    font-size: 12px;
    margin-top: -20px;
}
button:disabled{
    cursor: not-allowed;
}